@use "../tools";

.contact {
  ul {
    display: table;
  }

  li {
    display: table-row;
  }

}

.contact__title {
  @include tools.spacing("pr", "4");
  display: table-cell;
  text-transform: capitalize;
}

.contact__content {
  color: tools.token("color.text.weak");
}