@use "../tools";

.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: tools.token("spacing.0");
}

.intro__name {
  @include tools.typography("display");
}

.intro__title {
  @include tools.typography("title");
}

.intro__about {
  @include tools.typography("body");
  @include tools.spacing("mt", "2");
  
  color: tools.token("color.text.weak");
}