@use "@ceve/styles/kit";

.resume {
  display: grid;
  height: 100%;

  grid-template-columns: 2fr auto 1fr;
}

.resume__headline {
  @include kit.typography("headline");
  @include kit.spacing("mb", "4");
}
