@use "@ceve/styles/kit";

.contact {
  ul {
    display: table;
  }

  li {
    display: table-row;
  }

}

.contact__title {
  @include kit.spacing("pr", "4");
  display: table-cell;
  text-transform: capitalize;
}

.contact__content {
  color: kit.token("color.text.weak");
}
